# Copy this file into .env and fill in sensitive credentials from https://docs.google.com/document/d/1BoyS_OZHl4IX_UZKZxQbVrqJfGYZlV8gwnOAnS_gFUE/edit?usp=sharing

# Pittsburgh Station
# RTK_NTRIP_HOST="13.56.117.10"
# RTK_NTRIP_PORT=2101
# RTK_NTRIP_MOUNTPOINT="RTCM33GRCEJ"
# RTK_NTRIP_USER=""
# RTK_NTRIP_PASS=""

# NY State stations
RTK_NTRIP_HOST="rtn.dot.ny.gov"
RTK_NTRIP_PORT=8080
RTK_NTRIP_MOUNTPOINT="near_msm"
RTK_NTRIP_USER=""
RTK_NTRIP_PASS=""