*.pyc
*.out
*.log
*.vs
*.pio
/build
/install
/logs
/.vscode
.ipynb_checkpoints
.idea/
/.pytest_cache
/venv
*.code-workspace
raspi-config_*.deb
log/COLCON_IGNORE
log/latest
log/latest_build
log_database.db