# ADD ANY IMPORTED REPOs HERE:
# INSTALLATION: cmd: pip install -r requirements.txt

# Common
numpy

# objectDetection # takes up lots of space :(
ultralytics
opencv-python
# torch
    # Debug
    # tkinter
    keyboard
    