configparser==5.3.0
dataclasses==0.6
keyboard==0.13.5
numpy==1.24.3
opencv-python==4.7.0.72
Pillow==9.5.0
pygame==2.4.0
torch==1.12.0  # Required otherwise Pi throws "Illegal instruction" error
torchvision==0.13.0
ultralytics==8.0.90
matplotlib
pytest~=7.3.1
rclpy