# Imports that are only used when running code on the Pi
# INSTALLATION: cmd: pip install -r requirements-dev.txt

matplotlib
protobuf
pyserial
smbus2
google
RPi.GPIO
odrive

# opencv-python==4.7.0.72
# Pillow==9.5.0
# pygame==2.4.0
# torch==1.12.0  # Required otherwise Pi throws "Illegal instruction" error
# torchvision==0.13.0
# ultralytics==8.0.90