{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block body %}

<script src="{{ url_for('static', filename='js/htmx.js') }}"></script>

<div class="home">
    <div class="Camera">
        <h2>Input Form</h2>
        <form action="/camera" method="post">
            <label for="pitch">Pitch:</label><br>
            <input type="text" id="pitch" name="pitch"><br>
            <label for="yaw">Yaw:</label><br>
            <input type="text" id="yaw" name="yaw"><br><br>
            <button type="submit">Submit</button>
        </form>
        
    </div>
</div>
{% endblock %}