{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="body">
    <script src="{{ url_for('static', filename='js/htmx.js') }}"></script>

    <div class="home">
        <div class="Sensors">
            <div style = "padding-top: 20px; padding-bottom: 10px"><h2>{{header}}</h2></div>
            <h1 id="GPS">GPS: <label hx-get="/gps" hx-trigger="every 1.0s"></label></h1> 
            <br>
            <h1 id="Compass">Compass: <label hx-get="/compass" hx-trigger="every 1.0s"></label></h1>
            <br>
            <h1 id="Odrive">Odrive</h1>
            <br>
            <h3 id="Odrive">Axis0: <label hx-get="/axis0" hx-trigger="every 1.0s"></h3>
            <br>
            <h3 id="Odrive">Axis1: <label hx-get="/axis1" hx-trigger="every 1.0s"></h3>

            <button onclick="window.location='/map'";>View Map</button>
            <br><br>
            <h1>Set Mode:</h1>
            <br>
            <form id="uploadForm" enctype="multipart/form-data">
                <input type="file" id="fileInput" name="file">
            </form>
            <br>
            <button onclick="setMode('Manual')">Set Mode: Manual</button>
            <button onclick="setMode('avoid')">Set Mode: Collision Avoidance</button>
            <button onclick="setMode('nav')">Set Mode: Precision Nav</button>
            <button onclick="setMode('endurance')">Set Mode: Endurance</button>
            <button onclick="setMode('keeping')">Set Mode: Station Keeping</button>
            <button onclick="setMode('search')">Set Mode: Search</button>
        </div>
    </div>
</div>



<script>
    function setMode(mode) {
        const formData = new FormData();
        formData.append('file', document.getElementById('fileInput').files[0]);

        fetch(`/mode/${mode}`, {
            method: 'POST',
            body: formData
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.text();
        })
        .then(result => {
            console.log('Mode set:', result);
        })
        .catch(error => {
            console.error('There was a problem with the fetch operation:', error);
        });
    }
</script>
{% endblock %}