<!doctype html>
<title>{% block title %}Welcome{% endblock %}</title>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<script src="{{ url_for('static', filename='js/htmx.js') }}"></script>
<div class="page">

<body style="background-image: url({{ url_for('static', filename='images/background.webp') }}); background-size: cover;">

  {% with flashes = get_flashed_messages() %}
    {% if flashes %}
      <ul class="flashes">
      {% for message in flashes %}
        <li>{{ message }}
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <div class="title-bar">
    <div class="nav-buttons">
        <label>SailNet | </label>
        <button onclick="window.location.href='/home'">Home</button>
        <button onclick="window.location.href='/map'">Map</button>
        <button onclick="window.location.href='/logs'">Logs</button>
        <button onclick="window.location.href='/camera'">Camera</button>
        <label> | </label>
        <label hx-get="/Notification" hx-trigger="every 1.0s"></label>
    </div>
    
  </div>
  

{% block body %}{% endblock %}

  <br>
  <div class="footer" style= "padding-top: 180px; text-align: right; margin-right: 10px;">
    SailNet &mdash; A Flask Application
  </div>
</div>
