
<!DOCTYPE html>
<html style="height:100%;margin:0;padding:0;">
    <title>Sailbot Map</title>
    <meta charset="utf-8">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='leaflet/leaflet.css') }}" />
    <script src="{{ url_for('static', filename='leaflet/leaflet.js') }}"></script>
    <script src="{{ url_for('static', filename='leaflet/leaflet-hash.js') }}"></script>
    
    <style type="text/css">
    .leaflet-tile-container { pointer-events: auto; }
        body {
            height: 100%;
            margin: 0;
            padding: 0;
            background-color: #1a1a1a;
            display: flex;
        }

        #map-container {
            flex: 1;
            height: 100%
        }

        #sidebar {
            width: 0;
            height: 100%;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 20px;
            color: gold;
        }

        #sidebar a {
            width: 100%; /* Make the buttons fill the width */
            padding: 15px 15px 15px 32px;
            text-decoration: none;
            font-size: 18px;
            color: #818181;
            display: block;
            transition: 0.3s;
            box-sizing: border-box; /* Include padding in the total width */
        }

        #sidebar a:hover {
            color: #f1f1f1;
        }

        #sidebar a:hover {
            color: #f1f1f1;
        }

        .sailboat-container {
            width: 0;
            height: 100%;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 20px;
            color: gold;
            overflow: hidden;
        }

        #sailboat-container a {
            width: 100%; /* Make the buttons fill the width */
            padding: 15px 15px 15px 32px;
            text-decoration: none;
            font-size: 18px;
            color: #818181;
            display: block;
            transition: 0.3s;
            box-sizing: border-box; /* Include padding in the total width */
        }

        #sailboat-container a:hover {
            color: #f1f1f1;
        }

        #sailboat-container a:hover {
            color: #f1f1f1;
        }

        #boat-mode-text {
            color: gold;
            position: absolute;
            left: 25%;
            transform: translate(-50%, 0%);
        }

        #error-warning-text {
            color: gold;
            position: absolute;
            left: 75%;
            transform: translate(-50%, 0%);
        }

        #toggle-btn {
            position: absolute;
            left: 50%;
            transform: translate(-0%, 50%);
        }

        #toggle-btn2 {
            position: absolute;
            left: 50%;
            transform: translate(-100%, 50%);
        }

        .sailboat {
            width: 100px;
            height: 200px;
            position: relative;
            left: 50%;
            top: 50%;
            overflow: visible;
            transform: translate(-50%, -50%);
        }

        .wind-arrow {
            position: relative;
            top: -50%;
            left: 50%;
            transform: translate(-50%, 0%) rotate(180deg) scale(0.8);
            opacity: 0.5;
        }

        .compass {
            width: 200px;
            height: 200px;
            position: relative;
            left: 50%;
            top: 50%;
            overflow: visible;
            transform: translate(-50%, -50%);
        }

        .compass-needle {
            position: relative;
            top: -50%;
            left: 50%;
            transform: translate(-50%, 0%) rotate(180deg) scale(0.75);
            opacity: 1;
        }

        
    </style>

    <style>
        .target-tracker{
            position: relative;
            top: -170%;
            left: 50%;
            transform: translate(-50%, 0%) rotate(180deg) scale(0.2);
            opacity: 0.5;
        }
    </style>

    <body style="height:100%;margin:0;padding:0;">
        

        <div id="sidebar">
            <div>
                <button onclick="window.location='/';">Home Screen</button>
            </div>
            
            <button onclick="fetchAndAddWaypoints()">Refresh Waypoints</button>
            <button onclick="fetchAndAddCircles()">Refresh Circles</button>
            
            <br><br>

            <!-- Create Circle/waypoint Form -->
            <form id="create-form" action="/addCircle" method="POST" onsubmit="return false;">
                <div style="margin-bottom: 10px;">
                    <label for="latitude" style="display: inline-block; width: 150px;">Target Latitude:</label>
                    <input type="text" id="latitude" name="latitude" required>
                </div>
            
                <div style="margin-bottom: 10px;">
                    <label for="longitude" style="display: inline-block; width: 150px;">Target Longitude:</label>
                    <input type="text" id="longitude" name="longitude" required>
                </div>
            
                <div style="margin-bottom: 10px;">
                    <label for="input3" style="display: inline-block; width: 150px;">Circle Radius (m) / Waypoint Name:</label>
                    <input type="text" id="input3" name="input3" required>
                </div>
            
                <button type="button" onclick="submitCircleForm()">Add Circle</button>
                <button type="button" onclick="addWaypoint()">Add Waypoint</button>
            </form>

            <br><br>
            <div id="selectedWaypoint">
                Selected Waypoint:
                <br>Name:
                <br><span id="selectedLatitude"></span>
                <br><span id="selectedLongitude"></span>
            </div>

            <br><br>
            <div id="BoatGPS">
                Boat GPS:
                <br><span id="boatLatitude"></span>
                <br><span id="boatLongitude"></span>
            </div>

            <br><br>
            <div id="BoatTargetGPS">
                Boat GPS:
                <br><span id="boatTargetLatitude"></span>
                <br><span id="boatTargetLongitude"></span>
            </div>

            <br><br>
            <div id="boatTargetDistanceInfo">
                Distance between boat and boat target:
            </div>
            
            <br><br>
            <div id="targetDistanceInfo">
                Distance between click location and selected waypoint:
            </div>

            <br><br>
            <div id="boatDistanceInfo">
                Distance between boat and selected waypoint:
            </div>

        </div>

        <div id="sailboat-container" class="sailboat-container">
            <div class="sailboat">
                
                <img src="{{ url_for('static', filename='images/boat-top-down.png') }}" alt="Boat" class="sailboat">

                <div class="wind-arrow" id="windArrow">
                    <img src="{{ url_for('static', filename='images/wind-arrow.png') }}" alt="Wind Arrow" class="wind-arrow">
                </div>
                <div class="target-tracker" id="targetPointer">
                    <img src="{{ url_for('static', filename='images/pointer.png') }}" alt="target-tracker" class="target-tracker">
                </div>
                
            </div>

            <br><br>
            
            <div class="compass">
                <img src="{{ url_for('static', filename='images/compass-2.png') }}" alt="Compass" class="compass" style="opacity: 0.5;">
                <div class="compass-needle" id="compassNeedle">
                    <img src="{{ url_for('static', filename='images/compass-needle2.png') }}" alt="compass-needle" class="compass-needle">
                </div>
            </div>
        </div>
    
        <div id="map-container">
            <div id="map" style="height: 95%"></div>
            <button id="toggle-btn" onclick="toggleNav()">Toggle Sidebar</button>
            <button id="toggle-btn2" onclick="toggleSensorReadings()">Toggle Sensor Readings</button>
            <div id="error-warning-text">
                <p><span id="error-count" style="color: red;">X</span> errors generated, <span id="warning-count" style="color: yellow;">Y</span> warnings generated</p>
            </div>
            <div id="boat-mode-text">
                <p>Boat mode: <span id="boat-mode-indicator"></span></p>
            </div>
            
        </div>

        <script>
            function toggleNav() {
                var sidebar = document.getElementById("sidebar");
                if (sidebar.style.width === "250px") {
                    sidebar.style.width = "0";
                } else {
                    sidebar.style.width = "250px";
                }
            }
            function toggleSensorReadings() {
                var sidebar = document.getElementById("sailboat-container");
                if (sidebar.style.width === "250px") {
                    sidebar.style.width = "0";
                } else {
                    sidebar.style.width = "250px";
                }
            }
        </script>

        <!-- Form submission functions -->
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                document.getElementById("create-form").addEventListener("submit", function (event) {
                    event.preventDefault();
                    submitCircleForm();
                });
            });

            document.getElementById("latitude").addEventListener("change", fetchAndCalculateTargetDistance);
            document.getElementById("longitude").addEventListener("change", fetchAndCalculateTargetDistance);

            function submitCircleForm() {
                // Get values from the form
                const latitude = document.getElementById("latitude").value;
                const longitude = document.getElementById("longitude").value;
                const radius = document.getElementById("input3").value;
        
                // Validate the values if needed
        
                // Send the values to the server using a fetch
                fetch('/addCircle', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    body: `latitude=${latitude}&longitude=${longitude}&radius=${radius}`,
                })
                .then(response => response.json())
                .then(data => {
                    // Handle the JSON response
                    handleFormSubmissionResponse(data);
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            }
        
            function handleFormSubmissionResponse(data) {
                // Handle the JSON response
                if (data.status === 'success') {
                    // Display a success message or perform any other action
                    fetchAndAddCircles();
                } else {
                    // Handle other cases, if needed
                    alert('Failed to add circle');
                }
            }

            function addWaypoint() {
                const latitude = document.getElementById("latitude").value;
                const longitude = document.getElementById("longitude").value;
                const name = document.getElementById("input3").value;

                fetch('/addWaypoint', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    body: `latitude=${latitude}&longitude=${longitude}&name=${name}`,
                })
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'success') {
                        fetchAndAddWaypoints();
                        if (popup && popup.isOpen()) {
                            map.closePopup(popup);
                        }
                    } else {
                        alert('Failed to add waypoint');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            }

            function fetchAndCalculateTargetDistance() {
                const selectedLat = document.getElementById("selectedLatitude").innerText;
                const selectedLon = document.getElementById("selectedLongitude").innerText;
                const targetLat = parseFloat(document.getElementById("latitude").value);
                const targetLon = parseFloat(document.getElementById("longitude").value);

                if (!isNaN(selectedLat) && !isNaN(selectedLon) && !isNaN(targetLat) && !isNaN(targetLon)) {
                    fetch(`/calculateDistance?selectedLat=${selectedLat}&selectedLon=${selectedLon}&targetLat=${targetLat}&targetLon=${targetLon}`)
                        .then(response => response.json())
                        .then(data => {
                            const distanceInfoElement = document.getElementById("targetDistanceInfo");
                            if (data.status === 'success') {
                                distanceInfoElement.innerHTML = `Distance between click location and selected waypoint: ${data.distance.toFixed(2)} meters`;
                            } else {
                                distanceInfoElement.innerHTML = 'Failed to calculate distance';
                            }
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        });
                }
            }
        
            function fetchAndCalculateBoatDistance() {
                const selectedLatText = document.getElementById("selectedLatitude").innerText.trim();
                const selectedLonText = document.getElementById("selectedLongitude").innerText.trim();
                const targetLatText = document.getElementById("boatLatitude").innerText.trim();
                const targetLonText = document.getElementById("boatLongitude").innerText.trim();

                if (selectedLatText === '' || selectedLonText === '' || targetLatText === '' || targetLonText === '') {
                    return;
                }

                const selectedLat = parseFloat(selectedLatText);
                const selectedLon = parseFloat(selectedLonText);
                const targetLat = parseFloat(targetLatText);
                const targetLon = parseFloat(targetLonText);

                if (!isNaN(selectedLat) && !isNaN(selectedLon) && !isNaN(targetLat) && !isNaN(targetLon)) {
                    fetch(`/calculateDistance?selectedLat=${selectedLat}&selectedLon=${selectedLon}&targetLat=${targetLat}&targetLon=${targetLon}`)
                        .then(response => response.json())
                        .then(data => {
                            const distanceInfoElement = document.getElementById("boatDistanceInfo");
                            if (data.status === 'success') {
                                distanceInfoElement.innerHTML = `Distance between boat and selected waypoint: ${data.distance.toFixed(2)} meters`;
                            } else {
                                distanceInfoElement.innerHTML = 'Failed to calculate distance';
                            }
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        });
                }
            }

            function fetchAndCalculateBoatTargetDistance() {
                const targetLatText = document.getElementById("boatTargetLatitude").innerText.trim();
                const targetLonText = document.getElementById("boatTargetLongitude").innerText.trim();
                const boatLatText = document.getElementById("boatLatitude").innerText.trim();
                const boatLonText = document.getElementById("boatLongitude").innerText.trim();

                if (boatLatText === '' || boatLonText === '' || targetLatText === '' || targetLonText === '') {
                    return;
                }

                const boatLat = parseFloat(boatLatText);
                const boatLon = parseFloat(boatLonText);
                const targetLat = parseFloat(targetLatText);
                const targetLon = parseFloat(targetLonText);

                if (!isNaN(boatLat) && !isNaN(boatLon) && !isNaN(targetLat) && !isNaN(targetLon)) {
                    fetch(`/calculateDistance?selectedLat=${boatLat}&selectedLon=${boatLon}&targetLat=${targetLat}&targetLon=${targetLon}`)
                        .then(response => response.json())
                        .then(data => {
                            const distanceInfoElement = document.getElementById("boatTargetDistanceInfo");
                            if (data.status === 'success') {
                                distanceInfoElement.innerHTML = `Distance between boat and boat target: ${data.distance.toFixed(2)} meters`;
                            } else {
                                distanceInfoElement.innerHTML = 'Failed to calculate distance';
                            }
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        });
                }
            }

        </script>

        <!-- Map display functions -->
        <script>
            var map = L.map('map',{
                preferCanvas : true
            }).setView([0, 0], 3); // view of the world

            // initMap
            var popup = L.popup();
            function onMapClick(e) {
                popup
                    .setLatLng(e.latlng)
                    .setContent(e.latlng.toString().substr(6))
                    .openOn(map);

                // Fill in the form with the clicked coordinates
                document.getElementById("latitude").value = e.latlng.lat.toFixed(6);
                document.getElementById("longitude").value = e.latlng.lng.toFixed(6);
                fetchAndCalculateTargetDistance();
            }
            map.on('click', onMapClick);

            // init icons
            var boatIcon = L.icon({
                iconUrl: "{{ url_for('static', filename='images/boat-icon.png') }}",
                shadowUrl: "{{ url_for('static', filename='images/boat-icon-shadow.png') }}",

                iconSize:     [40, 40], // size of the icon
                shadowSize:   [40, 40], // size of the shadow
                iconAnchor:   [20, 20], // point of the icon which will correspond to marker's location
                shadowAnchor: [20, 20],  // the same for the shadow
                popupAnchor:  [20, 0] // point from which the popup should open relative to the iconAnchor
            });

            // set tile server
            var testURL = 'http://localhost:8080/tile/0/0/0.png'
            var tileSource = '{{ tileServer }}'
            // var tileSourceAlt = 'https://tile.openstreetmap.org/{z}/{x}/{y}.png'

            const setTileSource = async() => {
                validSource = tileSource
                // try{
                //     const response = await fetch(testURL);
                //     if (!response.ok) {validSource = tileSourceAlt}
                // }
                // catch (error){
                //     validSource = tileSourceAlt
                // }
                

                L.tileLayer(validSource, {
                    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
                    maxZoom: 21,
                    maxNativeZoom: 20
                }).addTo(map);
                console.log("Using Source: " + validSource)
            }

            let existingWaypoints = [];
            const fetchAndAddWaypoints = async () => {
                // Remove existing waypoints from the map
                existingWaypoints.forEach(waypoint => {
                    map.removeLayer(waypoint);
                });

                // Clear the array of existing waypoints
                existingWaypoints = [];

                // Fetch new waypoints
                const response = await fetch('/waypoints');
                if (!response.ok) {
                    throw Error(response.statusText);
                }

                var json = await response.json();
                for (const waypointData of json.waypoints) {
                    const newMarker = L.marker([waypointData.lat, waypointData.lon]).addTo(map);
                    newMarker.bindPopup(`${waypointData.name}<br>Lat: ${waypointData.lat}, Long: ${waypointData.lon}`);

                    newMarker.on('click', function () {
                        // Update the sidebar with details of the selected waypoint
                        updateSidebarWithWaypointDetails(waypointData);
                    });

                    existingWaypoints.push(newMarker);
                }
            }

            function updateSidebarWithWaypointDetails(waypointData) {
                // Update the selected waypoint details
                document.getElementById("selectedWaypoint").innerHTML = `
                    Selected Waypoint:
                    <br>Name: ${waypointData.name}
                    <br><span id="selectedLatitude">${waypointData.lat}</span>
                    <br><span id="selectedLongitude">${waypointData.lon}</span>
                `;

                // Fetch and update distance info
                fetchAndCalculateTargetDistance();
            }

            const fetchAndAddBreadcrumbs = async() => {
                const response = await  fetch('/breadcrumbs');
                if (!response.ok) {throw Error(response.statusText);}
                var json = await response.json();
                for (index in json.breadcrumbs){
                    breadcrumb = JSON.parse(json.breadcrumbs[index])
                    var circleMarker = L.circleMarker([breadcrumb.lat, breadcrumb.lon], {
                                color: '#00F',
                                radius: 1
                            }).addTo(map);
                }
            }
            
            let existingCircles = [];
            const fetchAndAddCircles = async () => {
                // Remove existing circles from the map
                existingCircles.forEach(circle => {
                    map.removeLayer(circle);
                });

                // Clear the array of existing circles
                existingCircles = [];

                // Fetch new circles
                const response = await fetch('/circles');
                if (!response.ok) {
                    throw Error(response.statusText);
                }

                var json = await response.json();
                for (const circleData of json.circles) {
                    // Create a new circle and add it to the map
                    const newCircle = L.circle([circleData.lat, circleData.lon], {
                        color: 'red',
                        fillColor: '#f03',
                        fillOpacity: 0.25,
                        radius: circleData.radius
                    }).addTo(map);

                    // Add the new circle to the array of existing circles
                    existingCircles.push(newCircle);
                }
            }

            var showBreadcrumbs = true
            let boatMarker
            const fetchData = async() => {
                try { 
                    let found = false
                    if (typeof boatMarker !== 'undefined'){
                        map.removeLayer(boatMarker)
                    }
                    if (showBreadcrumbs){
                        fetchAndAddBreadcrumbs()
                    }
                    const response = await  fetch('/dataJSON');
                    if (!response.ok) {throw Error(response.statusText);}
                    var json = await response.json();
                    var lat = json.lat
                    var lon = json.lon
                    

                    document.getElementById("BoatGPS").innerHTML = `
                        Boat GPS:
                        <br><span id="boatLatitude">${lat}</span>
                        <br><span id="boatLongitude">${lon}</span>
                    `;

                    fetchAndCalculateBoatDistance();

                    // for fixed size boat icon
                    boatMarker = L.marker([lat, lon], {icon: boatIcon});
                    
                    // for variable size boat icon
                    // var imageUrl = "{{ url_for('static', filename='images/boat-icon.png') }}",
                    //     imageBounds = [[lat-0.00005, lon-0.00005], [lat+0.00005, lon+0.00005]];
                    // var marker = L.imageOverlay(imageUrl, imageBounds);
                    
                    map.addLayer(boatMarker)


                    var target_lat = json.target_lat
                    var target_lon = json.target_lon
                    var queuedWaypoints = json.queuedWaypoints

                    if (typeof polylinesArray !== 'undefined') {
                        for (var i = 0; i < polylinesArray.length; i++) {
                            map.removeLayer(polylinesArray[i]);
                        }
                    }
                    polylinesArray = [];
                    if (target_lat !== null && target_lon !== null) {

                        document.getElementById("BoatTargetGPS").innerHTML = `
                            Boat GPS:
                            <br><span id="boatTargetLatitude">${target_lat}</span>
                            <br><span id="boatTargetLongitude">${target_lon}</span>
                        `;

                        fetchAndCalculateBoatTargetDistance()

                        // Create a polyline between boat and target
                        polyline = L.polyline([
                            [lat, lon],
                            [target_lat, target_lon]
                        ]).addTo(map);
                        polylinesArray.push(polyline);

                        polyline.setStyle({
                            color: 'red',
                            weight: 2,
                            opacity: 0.8
                        });
                        
                    } 

                    if (queuedWaypoints !== undefined && queuedWaypoints !== null) {
                        // Draw lines between each queued waypoint
                        for (var i = 0; i < queuedWaypoints.length - 1; i++) {
                            var startPoint = [queuedWaypoints[i].lat, queuedWaypoints[i].lon];
                            var endPoint = [queuedWaypoints[i + 1].lat, queuedWaypoints[i + 1].lon];

                            polyline = L.polyline([startPoint, endPoint]).addTo(map);
                            polylinesArray.push(polyline);
                            polyline.setStyle({
                                color: 'red',
                                weight: 2,
                                opacity: 0.3
                            });
                        }
                    }

                   boatMode = json.is_RC
                    var boatModeText = document.getElementById('boat-mode-indicator');
                    if (boatMode.toUpperCase() === "TRUE") {
                        boatModeText.textContent = 'Remote Control';
                        boatModeText.style.color = 'green';
                    } else if (boatMode.toUpperCase() === "FALSE") {
                        boatModeText.textContent = 'Autonomus';
                        boatModeText.style.color = 'red';
                    } else {
                        // Handle other cases or set default values
                        boatModeText.textContent = boatMode.toUpperCase();
                        boatModeText.style.color = 'gold';
                    }

                    var errorCount = json.error_count;
                    var warningCount = json.warning_count;

                    // Update error and warning text and color
                    var errorCountText = document.getElementById('error-count');
                    var warningCountText = document.getElementById('warning-count');

                    errorCountText.textContent = errorCount;
                    warningCountText.textContent = warningCount;

                    // Update the wind arrow direction
                    windDirection = json.relative_wind;
                    windArrow = document.getElementById('windArrow');
                    windArrow.style.transform = `translate(-50%, -50%) rotate(${windDirection}deg)`;

                    targetDirection = json.relative_target;
                    if (typeof targetDirection !== undefined && targetDirection !== null){
                        targetPointer = document.getElementById('targetPointer');
                        targetPointer.style.transform = `translate(-50%, -50%) rotate(${targetDirection}deg)`;
                    }

                    // Update the compass arrow direction
                    compassDirection = json.compass_dir
                    compassNeedle = document.getElementById('compassNeedle');
                    compassNeedle.style.transform = `translate(-50%, -50%) rotate(${compassDirection}deg)`;
                    
                    // set the time below to how frequently you wanna update 
                    setTimeout(() => fetchData(), 1000); // update every 1 seconds
                    //
                    }   
                catch (error) {console.log(error);}
            }

            setTileSource()
            fetchAndAddWaypoints();
            fetchAndAddCircles();
            fetchData()
            var hash = L.hash(map)
        </script>
        
        

    </body>
</html>