<!DOCTYPE html>
<html style="height:100%;margin:0;padding:0;">
    <title>Sailbot Map</title>
    <meta charset="utf-8">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='leaflet/leaflet.css') }}" />
    <script src="{{ url_for('static', filename='leaflet/leaflet.js') }}"></script>
    <script src="{{ url_for('static', filename='leaflet/leaflet-hash.js') }}"></script>
    
    <style type="text/css">
    .leaflet-tile-container { pointer-events: auto; }
        body {
            height: 100%;
            margin: 0;
            padding: 0;
            display: flex;
        }

        #map-container {
            flex: 1;
            height: 95%;
        }

        #sidebar {
            width: 0;
            height: 100%;
            background-color: #f1f1f1;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 20px;
        }

        #sidebar a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 18px;
            color: #818181;
            display: block;
            transition: 0.3s;
        }

        #sidebar a:hover {
            color: #f1f1f1;
        }

        #sidebar .close-btn {
            position: absolute;
            top: 0;
            left: 10px;
            font-size: 30px;
            margin-left: 50px;
        }

    </style>

    <body style="height:100%;margin:0;padding:0;">
        
        <div id="sidebar">
            <p>This is some text in the sidebar.</p>
            <button onclick="fetchAndAddWaypoints()">Update Waypoints</button>
            <button onclick="fetchAndAddCircles()">Update Circles</button>
            <button onclick="window.location='/';">Home Screen</button>
        </div>

        <div id="map-container">
            <div id="map" style="height: 100%"></div>
        </div>
        
        <script>
            var map = L.map('map',{
                preferCanvas : true
            }).setView([0, 0], 3); // view of the world

            // initMap
            var popup = L.popup();
            function onMapClick(e) {
                popup
                    .setLatLng(e.latlng)
                    .setContent(e.latlng.toString().substr(6))
                    .openOn(map);
            }
            map.on('click', onMapClick);

            // init icons
            var boatIcon = L.icon({
                iconUrl: "{{ url_for('static', filename='images/boat-icon.png') }}",
                shadowUrl: "{{ url_for('static', filename='images/boat-icon-shadow.png') }}",

                iconSize:     [40, 40], // size of the icon
                shadowSize:   [40, 40], // size of the shadow
                iconAnchor:   [20, 20], // point of the icon which will correspond to marker's location
                shadowAnchor: [20, 20],  // the same for the shadow
                popupAnchor:  [20, 0] // point from which the popup should open relative to the iconAnchor
            });

            // set tile server
            var testURL = 'http://localhost:8080/tile/0/0/0.png'
            var tileSource = '{{ tileServer }}'
            var tileSourceAlt = 'https://tile.openstreetmap.org/{z}/{x}/{y}.png'

            const setTileSource = async() => {
                validSource = tileSource
                // try{
                //     const response = await fetch(testURL);
                //     if (!response.ok) {validSource = tileSourceAlt}
                // }
                // catch (error){
                //     validSource = tileSourceAlt
                // }
                

                L.tileLayer(validSource, {
                    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
                    maxZoom: 21,
                    maxNativeZoom: 20
                }).addTo(map);
                console.log("Using Source: " + validSource)
            }
            
            setTileSource()

            const fetchAndAddWaypoints = async() => {
                const response = await  fetch('/waypoints');
                if (!response.ok) {throw Error(response.statusText);}
                var json = await response.json();
                for (index in json.waypoints){
                    waypoint = json.waypoints[index]
                    var marker = L.marker([waypoint.lat, waypoint.lon]).addTo(map);
                    marker.bindPopup(waypoint.name);
                }
            }

            fetchAndAddWaypoints()

            const fetchAndAddBreadcrumbs = async() => {
                const response = await  fetch('/breadcrumbs');
                if (!response.ok) {throw Error(response.statusText);}
                var json = await response.json();
                for (index in json.breadcrumbs){
                    breadcrumb = json.breadcrumbs[index]
                    console.log(json)
                    var circleMarker = L.circleMarker([breadcrumb.lat, breadcrumb.lon], {
                                color: '#00F',
                                radius: 0.5
                            }).addTo(map);
                }
            }
            

            const fetchAndAddCircles = async() => {
                const response = await  fetch('/circles');
                if (!response.ok) {throw Error(response.statusText);}
                var json = await response.json();
                for (index in json.circles){
                    circle = json.circles[index]
                    var circle = L.circle([circle.lat, circle.lon], {
                        color: 'red',
                        fillColor: '#f03',
                        fillOpacity: 0.25,
                        radius: circle.radius
                    }).addTo(map);
                }
            }
            
            fetchAndAddCircles()

            

            // update boat location in loop
            var showBreadcrumbs = true
            var breadcrumbs = []
            const fetchData = async(marker, lat, lon) => {
                try { 
                    let found = false
                    if (typeof marker !== 'undefined'){
                        found = true
                        oldLayer = marker
                        if (showBreadcrumbs){
                            fetchAndAddBreadcrumbs()
                        }
                    }
                    const response = await  fetch('/dataJSON');
                    if (!response.ok) {throw Error(response.statusText);}
                    var json = await response.json();
                    var lat = json.lat
                    var lon = json.lon

                    // for fixed size boat icon
                    var marker = L.marker([lat, lon], {icon: boatIcon});
                    
                    // for variable size boat icon
                    // var imageUrl = "{{ url_for('static', filename='images/boat-icon.png') }}",
                    //     imageBounds = [[lat-0.00005, lon-0.00005], [lat+0.00005, lon+0.00005]];
                    // var marker = L.imageOverlay(imageUrl, imageBounds);
                    
                    map.addLayer(marker)
                    if (found){
                        map.removeLayer(oldLayer)
                    }
                    
                    // set the time below to how frequently you wanna update 
                    setTimeout(() => fetchData(marker, lat, lon), 3000); // update every 3 seconds
                    //
                    }   
                catch (error) {console.log(error);}
            }

            fetchData()
            var hash = L.hash(map)
        </script>

        <script>
            function toggleNav() {
                var sidebar = document.getElementById("sidebar");
                if (sidebar.style.width === "250px") {
                    sidebar.style.width = "0";
                } else {
                    sidebar.style.width = "250px";
                }
            }
        </script>
<!-- 
        <button onclick="fetchAndAddWaypoints()">Update Waypoints</button>
        <button onclick="fetchAndAddCircles()">Update Circles</button>
        <button onclick="window.location='/'";>Home Screen</button> -->
        <button onclick="toggleNav()">Toggle Sidebar</button>
        

    </body>
</html>